.home {
  display: flex;
  width: 100vw;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    background-color: #060722;
    padding-bottom: 20px;
    display: flex;

    .info {
      display: flex;
      max-height: 60%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .home {
    .container {
      padding-bottom: 20px;
    }
  }
}